services:
  - type: web
    name: infinite-bz-backend
    env: docker
    plan: starter
    region: ohio
    branch: main
    dockerContext: .
    dockerfilePath: Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: infinitetechai
          property: connectionString
      - key: PORT
        value: 10000
      - key: PYTHON_VERSION
        value: 3.11.0
